body{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
#navbar{
    position: fixed;
    height: 100%;
    min-width: 200px;
    width: 300px;
    top: 0;
    left: 0px;
    border-right: 3px solid rgba(122, 122, 122, 0.603);

}
#navbar header{
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(241, 241, 241);
}
#nav-container a{
    display: block;
    width: 300px;
    text-decoration: none;
    color: rgb(99, 99, 99);
    border-top: 1px solid rgba(88, 88, 88, 0.425);
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(241, 241, 241);
}
#nav-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 88%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    width: 70%;
}
.main-section header{
    font-size: 26px;
    text-decoration-line: underline;
}
.code-container{
    display: block;
    background-color: rgb(231, 231, 231);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.code{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 1209px){
    #navbar{
        display: block;
        position:unset;
        border-right: 0px;
        width: 100%;
        
    }
    #navbar header{
        width: 100%;
        text-align: center;
    }
    #nav-container a{
        width: 100%;
        text-align: center;
    }
    #main-doc{
        margin-left: 0px;
    }
}